<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 串口配置数组 -->
		<add key="SerialPorts" value="COM7;COM8;COM9" />
		<add key="BaudRates" value="4800;4800;4800" />
		<add key="Parities" value="None;None;None" />
		<add key="DataBitsArray" value="8;8;8" />
		<add key="StopBitsArray" value="One;One;One" />
		<add key="AddressPrefixes" value="A;B;C" />
		<add key="StationAddresses" value="1" />
		<add key="RegisterAddresses" value="0001;0001;0001" />
		<add key="RegisterCounts" value="16;16;16" />

		<!-- 其他配置wincc需要建立变量如下：1 A1_Time（文本变量 16 位字符集）2.A1_Value（32-位浮点数 IEEE 754）3.meiqiA（文本16位字符集）4.meiqiA1（文本16位字符集）5.meiqiA区（int，程序通讯指示器）6.meiqiA区断线（bool，变量5每秒+1放入此变量用于判断通讯程序开启状态）-->
		<add key="ProcessName" value="PdlRt" />
		<add key="RESPONSETIMEOUT" value="2000" />
		<add key="FrameInterval" value="100" />
		<add key="PollingInterval" value="1000" />
		

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>