<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<!-- 建议：生产环境使用加密存储，此处为示例 -->
		<add key="AdminPassword" value="19850714"/>
		<add key="ConnectionTimeout" value="3"/>
		<add key="Conn" value="Server=localhost;Database=HNIRNI;Integrated Security=true;"/>
	</appSettings>
</configuration>
